In [1]:
Mypassword = '1541'

In [2]:
import pymysql

In [3]:
conn = pymysql.connect(host = 'localhost', port = 3306, db = 'myfirst_db',
                            user = 'root', passwd = Mypassword, autocommit = True)

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute("SELECT VERSION();")

1

In [6]:
rs= cursor.fetchone()

In [7]:
print("MariaDB Version: {}".format(rs))

MariaDB Version: ('8.0.23',)

In [8]:
sql1 = "show tables"

In [9]:
cursor.execute(sql1)

2

In [10]:
rs = cursor.fetchone()
print("tables: ", rs)

tables:  ('company_info',)

In [11]:
sql2 ="select * from company_info"

In [12]:
cursor.execute(sql2)

2500

In [13]:
rs = cursor.fetchone()
rs

('000020', '동화약품', datetime.date(2022, 4, 14))

In [14]:
sql_delete_all ="delete from company_info"
cursor.execute(sql_delete_all)

2500

In [15]:
rs = cursor.fetchone()
rs

In [16]:
sql_drop_table ="drop table company_info"

In [17]:
cursor.execute(sql_drop_table)

0

In [18]:
rs = cursor.fetchone()
print(rs)

None

In [19]:
sql_create_table ="""
CREATE TABLE if not exists company_info (
    code VARCHAR(20),
    company VARCHAR(40),
    last_update DATE,
    PRIMARY KEY (code)
  );
 """

In [20]:
cursor.execute(sql_create_table)

0

In [21]:
sql1 = "show tables"
cursor.execute(sql1)

2

In [22]:
rs = cursor.fetchone()
print("tables: ", rs)

tables:  ('company_info',)

In [23]:
rs = cursor.fetchone()
print("tables: ", rs)

tables:  ('daily_price',)

In [24]:
conn.close()